/* Homepage */
#hero {
    background-image: url('../img/banhero.png');
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0%;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}
#hero button {
    background-color: #088178;
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 8px 20px;
    transition: all 0.3s ease;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 15;
    border-radius: 7px;
}

/* About */
#about {
  margin: 100px 100px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #222;
  box-shadow: 10px 10px 10px 10px  rgba(0,0,0,0.03);
}
/* Kelebihan */
#feature{
    margin: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(0,0,0,0.1);
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: bisque;
}
